body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0e1c6;
}

.calculadora {
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    background-color: #f9f2e7;
}

.pantalla {
    width: 94%;
    height: 50px;
    font-size: 24px;
    text-align: right;
    background-color: black;
    color: limegreen;
    border: none;
    border-radius: 5px;
    padding: 10px;
}

.botones {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-top: 10px;
}

button {
    height: 60px;
    font-size: 24px;
    background-color: #7d7d7d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #5c5c5c;
}